<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto">
        <div class="card-header text-center">
            <h5 class="m-0">
                Quote Issued!
            </h5>
        </div>
        <div class="card-body text-center">
            <p>You Quote:</p>
            <h2>$@string.Format("{0:F2}", Model)</h2>
            <p>Thank You!</p>
        </div>
    </div>
</div>

